body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url(natura.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* logowanie */
.container {
  position: absolute;
  display: block;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  min-height: 30vh;
  padding: 16px;
  background-color: white;
}
  input[type=text], input[type=password] {
  width: 80%;
  padding: 14px;
  margin: 4px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}
.icon {
  padding: 12px;
  padding-bottom: 14px;
  background: #0c6c0c;
  color: white;
  min-width: 50px;
  text-align: center;
  display: inline-block;
  opacity: 0.89;
}
.icon2{
    margin-right: -4px;
}
.form-tittle{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    margin-top: -15px;
    margin-bottom: -15px;
    letter-spacing: 3px;
}
label{
    font-family: 'Source Sans Pro', sans-serif;
}
.btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  background-color: forestgreen;
}
